## Deliverable 2. Create a Customer Travel Destinations Map.

In [85]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [86]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp F°,Humidity %,Cloudiness %,Wind Speed mph,Weather Description
0,0,Faya,SA,18.3851,42.4509,64.51,71,10,5.37,clear sky
1,1,Tiksi,RU,71.6872,128.8694,45.07,72,76,10.36,broken clouds
2,2,Torbay,CA,47.6666,-52.7314,62.58,85,20,20.71,few clouds
3,3,Saldanha,ZA,-33.0117,17.9442,48.25,90,9,7.18,clear sky
4,4,Atuona,PF,-9.8000,-139.0333,77.58,73,69,15.50,light rain

In [87]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [88]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp F°'] >= min_temp) & (city_data_df['Max Temp F°'] <= max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp F°,Humidity %,Cloudiness %,Wind Speed mph,Weather Description
0,0,Faya,SA,18.3851,42.4509,64.51,71,10,5.37,clear sky
2,2,Torbay,CA,47.6666,-52.7314,62.58,85,20,20.71,few clouds
4,4,Atuona,PF,-9.8000,-139.0333,77.58,73,69,15.50,light rain
5,5,Port Alfred,ZA,-33.5906,26.8910,61.93,45,0,12.08,clear sky
7,7,East London,ZA,-33.0153,27.9116,67.32,25,0,10.09,clear sky

In [89]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477 entries, 0 to 686
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              477 non-null    int64
 1   City                 477 non-null    object
 2   Country              477 non-null    object
 3   Lat                  477 non-null    float64
 4   Lng                  477 non-null    float64
 5   Max Temp F°          477 non-null    float64
 6   Humidity %           477 non-null    int64
 7   Cloudiness %         477 non-null    int64
 8   Wind Speed mph       477 non-null    float64
 9   Weather Description  477 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 41.0+ KB

In [90]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp F°,Humidity %,Cloudiness %,Wind Speed mph,Weather Description
0,0,Faya,SA,18.3851,42.4509,64.51,71,10,5.37,clear sky
2,2,Torbay,CA,47.6666,-52.7314,62.58,85,20,20.71,few clouds
4,4,Atuona,PF,-9.8000,-139.0333,77.58,73,69,15.50,light rain
5,5,Port Alfred,ZA,-33.5906,26.8910,61.93,45,0,12.08,clear sky
7,7,East London,ZA,-33.0153,27.9116,67.32,25,0,10.09,clear sky
...,...,...,...,...,...,...,...,...,...,...
681,681,Baker City,US,44.7749,-117.8344,85.71,28,40,24.16,light rain
682,682,Qitaihe,CN,45.8000,130.8500,87.12,42,64,8.16,broken clouds
684,684,Tobermory,CA,45.2501,-81.6665,62.31,82,14,9.64,few clouds
685,685,Tual,ID,-5.6667,132.7500,80.76,73,97,18.59,overcast clouds
686,686,Flinders,AU,-34.5833,150.8552,60.06,50,18,15.01,few clouds

In [91]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp F°", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp F°,Weather Description,Lat,Lng,Hotel Name
0,Faya,SA,64.51,clear sky,18.3851,42.4509,
2,Torbay,CA,62.58,few clouds,47.6666,-52.7314,
4,Atuona,PF,77.58,light rain,-9.8000,-139.0333,
5,Port Alfred,ZA,61.93,clear sky,-33.5906,26.8910,
7,East London,ZA,67.32,clear sky,-33.0153,27.9116,
8,Kodiak,US,62.11,overcast clouds,57.7900,-152.4072,
9,Sartell,US,75.67,haze,45.6216,-94.2069,
10,Rikitea,PF,70.16,broken clouds,-23.1203,-134.9692,
11,Airai,TL,75.31,overcast clouds,-8.9266,125.4092,
12,Santa Cruz De Tenerife,ES,72.21,broken clouds,28.4682,-16.2546,

In [92]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [93]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis=0, how="any")
clean_hotel_df

,City,Country,Max Temp F°,Weather Description,Lat,Lng,Hotel Name
0,Faya,SA,64.51,clear sky,18.3851,42.4509,املاك خالد الشعشوع
2,Torbay,CA,62.58,few clouds,47.6666,-52.7314,Gallows Cove
4,Atuona,PF,77.58,light rain,-9.8000,-139.0333,Villa Enata
5,Port Alfred,ZA,61.93,clear sky,-33.5906,26.8910,The Halyards Hotel
7,East London,ZA,67.32,clear sky,-33.0153,27.9116,Tu Casa
...,...,...,...,...,...,...,...
681,Baker City,US,85.71,light rain,44.7749,-117.8344,Bridge Street Inn
682,Qitaihe,CN,87.12,broken clouds,45.8000,130.8500,Baiyun Hostel
684,Tobermory,CA,62.31,few clouds,45.2501,-81.6665,Escarpment Heights Motel
685,Tual,ID,80.76,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
686,Flinders,AU,60.06,few clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre

In [94]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [95]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp F°} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [96]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp F°"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
print (fig)

Figure(layout=FigureLayout(height='420px'))