## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp F°,Humidity %,Cloudiness %,Wind Speed mph,Weather Description
0,0,Talnakh,RU,69.4865,88.3972,71.51,58,100,2.01,overcast clouds
1,1,Manyana,BW,-23.4000,21.7167,54.09,39,20,6.96,few clouds
2,2,Bethel,US,41.3712,-73.4140,72.41,87,1,3.44,clear sky
3,3,Albany,US,42.6001,-73.9662,72.21,81,0,2.80,clear sky
4,4,Bredasdorp,ZA,-34.5322,20.0403,54.28,94,96,3.44,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp F°'] >= min_temp) & (city_data_df['Max Temp F°'] <= max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp F°,Humidity %,Cloudiness %,Wind Speed mph,Weather Description
0,0,Talnakh,RU,69.4865,88.3972,71.51,58,100,2.01,overcast clouds
2,2,Bethel,US,41.3712,-73.4140,72.41,87,1,3.44,clear sky
3,3,Albany,US,42.6001,-73.9662,72.21,81,0,2.80,clear sky
5,5,Lumphat,KH,13.4878,106.9816,75.27,98,100,3.15,overcast clouds
6,6,Kapit,MY,2.0167,112.9333,82.56,70,45,1.28,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 529 entries, 0 to 719
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              529 non-null    int64
 1   City                 529 non-null    object
 2   Country              529 non-null    object
 3   Lat                  529 non-null    float64
 4   Lng                  529 non-null    float64
 5   Max Temp F°          529 non-null    float64
 6   Humidity %           529 non-null    int64
 7   Cloudiness %         529 non-null    int64
 8   Wind Speed mph       529 non-null    float64
 9   Weather Description  529 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 45.5+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp F°,Humidity %,Cloudiness %,Wind Speed mph,Weather Description
0,0,Talnakh,RU,69.4865,88.3972,71.51,58,100,2.01,overcast clouds
2,2,Bethel,US,41.3712,-73.4140,72.41,87,1,3.44,clear sky
3,3,Albany,US,42.6001,-73.9662,72.21,81,0,2.80,clear sky
5,5,Lumphat,KH,13.4878,106.9816,75.27,98,100,3.15,overcast clouds
6,6,Kapit,MY,2.0167,112.9333,82.56,70,45,1.28,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
714,714,Coolum Beach,AU,-26.5333,153.1000,68.34,57,92,3.33,overcast clouds
715,715,Winnemucca,US,40.9730,-117.7357,89.65,4,75,27.63,haze
716,716,San Isidro,PE,-12.1167,-77.0500,62.26,86,90,1.01,overcast clouds
717,717,Loandjili,CG,-4.7561,11.8578,73.51,88,90,3.44,overcast clouds
719,719,Boa Vista,BR,2.8197,-60.6733,80.58,74,20,6.91,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp F°", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp F°,Weather Description,Lat,Lng,Hotel Name
0,Talnakh,RU,71.51,overcast clouds,69.4865,88.3972,
2,Bethel,US,72.41,clear sky,41.3712,-73.4140,
3,Albany,US,72.21,clear sky,42.6001,-73.9662,
5,Lumphat,KH,75.27,overcast clouds,13.4878,106.9816,
6,Kapit,MY,82.56,scattered clouds,2.0167,112.9333,
7,Morozovsk,RU,76.93,broken clouds,48.3539,41.8261,
9,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
10,Richards Bay,ZA,60.10,clear sky,-28.7830,32.0377,
13,Cairns,AU,78.12,overcast clouds,-16.9167,145.7667,
14,Rikitea,PF,74.30,broken clouds,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis=0, how="any")
clean_hotel_df

,City,Country,Max Temp F°,Weather Description,Lat,Lng,Hotel Name
0,Talnakh,RU,71.51,overcast clouds,69.4865,88.3972,Talnakh Hotel
2,Bethel,US,72.41,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
3,Albany,US,72.21,clear sky,42.6001,-73.9662,
5,Lumphat,KH,75.27,overcast clouds,13.4878,106.9816,Lumphat Homestay
6,Kapit,MY,82.56,scattered clouds,2.0167,112.9333,Hotel Meligai Kapit
...,...,...,...,...,...,...,...
714,Coolum Beach,AU,68.34,overcast clouds,-26.5333,153.1000,Palmer Coolum Resort
715,Winnemucca,US,89.65,haze,40.9730,-117.7357,Winners Inn Casino
716,San Isidro,PE,62.26,overcast clouds,-12.1167,-77.0500,Soul Mate-Inn
717,Loandjili,CG,73.51,overcast clouds,-4.7561,11.8578,Résidence ARCHANGE
719,Boa Vista,BR,80.58,few clouds,2.8197,-60.6733,Aipana Plaza Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp F°} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp F°"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))